* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* https://www.swyx.io/css-100-bytes */
html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

#chess-container {
    width: 70vmin;
    height: 70vmin;
    grid-column: 1;
}

#hint {
    background-color: #eee;
    padding: 10px;
    border: 1px ridge;
    grid-column: 1;
}

#hint.empty {
    font-style: italic;
    color: #555;
    width: 70vmin;
}

coords {
    user-select: none;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    height:;
}

#moves-container {
    grid-column: 2;
    grid-row: 1 / span 2;
    background-color: #eee;
    border: 1px ridge;
    padding: 0.5em 0.5em;
}

#moves-container ol {
    list-style-position: inside;
}
